{{#ember-wormhole to=destinationElementId renderInPlace=renderInPlace}}
  {{#if hasOverlay}}
    <div class="{{overlayClassNamesString}} {{if translucentOverlay 'translucent'}} {{overlay-class}}" {{action 'close'}} data-ember-modal-dialog-overlay></div>
  {{/if}}
  {{#if useEmberTether}}
    {{#ember-tether classNameBindings="containerClassNamesString alignmentClass renderInPlaceClass container-class"
        target=_alignmentTargetNormalized
        attachment=_attachmentNormalized
        targetAttachment=_targetAttachmentNormalized
        targetModifier=_targetModifierNormalized
        classPrefix=tetherClassPrefix
        offset=offset
        targetOffset=targetOffset
    }}
      {{yield}}
    {{/ember-tether}}
  {{else}}
    {{#ember-modal-dialog-positioned-container classNameBindings="containerClassNamesString alignmentClass renderInPlaceClass container-class"
        alignment=_alignmentNormalized
        alignmentTarget=alignmentTarget
    }}
      {{yield}}
    {{/ember-modal-dialog-positioned-container}}
  {{/if}}
{{/ember-wormhole}}
