<EmberWormhole @to={{this.destinationElementId}}>
  {{#if this.isOverlaySibling}}
    <div
      class="{{this.wrapperClassNamesString}}
        {{this.wrapperClass}}"
    >
      {{#if this.hasOverlay}}
        <EmberModalDialog::Overlay
          class={{this.overlayClassNamesString}}
          @onClickOverlay={{this.onClickOverlay}}
        />
      {{/if}}
      <EmberModalDialogPositionedContainer
        @class={{this.containerClassNamesString}}
        @targetAttachment={{this.targetAttachment}}
        @target={{this.legacyTarget}}
        ...attributes
      >
        {{yield}}
      </EmberModalDialogPositionedContainer>
    </div>
  {{else}}
    <div
      class="{{this.wrapperClassNamesString}}
        {{this.wrapperClass}}"
    >
      {{#if this.hasOverlay}}
        <EmberModalDialog::Overlay
          class={{this.overlayClassNamesString}}
          @onClickOverlay={{ignore-children
            this.onClickOverlay
          }}
        >
          <EmberModalDialogPositionedContainer
            @class={{this.containerClassNamesString}}
            @targetAttachment={{this.targetAttachment}}
            @target={{this.legacyTarget}}
            ...attributes
          >
            {{yield}}
          </EmberModalDialogPositionedContainer>
        </EmberModalDialog::Overlay>
      {{else}}
        <EmberModalDialogPositionedContainer
          @class={{this.containerClassNamesString}}
          @targetAttachment={{this.targetAttachment}}
          @target={{this.legacyTarget}}
          ...attributes
        >
          {{yield}}
        </EmberModalDialogPositionedContainer>
      {{/if}}
    </div>
  {{/if}}
</EmberWormhole>