{{#if this.isOverlaySibling}}
  <LiquidWormhole
    @stack={{this.stack}}
    @value={{this.value}}
    @class={{concat
      "liquid-dialog-container "
      this.wrapperClassNamesString
      " "
      this.wrapperClass
    }}
  >
    <div
      class="{{this.wrapperClassNamesString}}
        {{this.wrapperClass}}"
    >
      {{#if this.hasOverlay}}
        <EmberModalDialog::Overlay
          class={{this.overlayClassNamesString}}
          @onClickOverlay={{this.onClickOverlay}}
        />
      {{/if}}
      <div
        class={{this.containerClassNamesString}}
        ...attributes
      >
        {{yield}}
      </div>
    </div>
  </LiquidWormhole>
{{else}}
  <LiquidWormhole
    @stack={{this.stack}}
    @value={{this.value}}
    @class={{concat
      "liquid-dialog-container "
      this.wrapperClassNamesString
      " "
      this.wrapperClass
    }}
  >
    {{#if this.hasOverlay}}
      <EmberModalDialog::Overlay
        class={{this.overlayClassNamesString}}
        @onClickOverlay={{ignore-children this.onClickOverlay}}
      >
        <div
          class={{this.containerClassNamesString}}
          ...attributes
        >
          {{yield}}
        </div>
      </EmberModalDialog::Overlay>
    {{else}}
      <div
        class={{this.containerClassNamesString}}
        ...attributes
      >
        {{yield}}
      </div>
    {{/if}}
  </LiquidWormhole>
{{/if}}