{{#ember-wormhole to=this.destinationElementId}}
  {{#if this.isOverlaySibling}}
    <div class="{{this.wrapperClassNamesString}} {{this.wrapperClass}}">
      {{#if this.hasOverlay}}
        <div
          class={{this.overlayClassNamesString}}
          onclick={{action this.onClickOverlay}}
          tabindex="-1"
          data-emd-overlay
        >
        </div>
      {{/if}}
      {{#ember-modal-dialog-positioned-container
        class=this.containerClassNamesString
        targetAttachment=this.targetAttachment
        target=this.legacyTarget
      }}
        {{yield}}
      {{/ember-modal-dialog-positioned-container}}
    </div>
  {{else}}
    <div class="{{this.wrapperClassNamesString}} {{this.wrapperClass}}">
      {{#if this.hasOverlay}}
        <div
          class={{this.overlayClassNamesString}}
          onclick={{action (ignore-children this.onClickOverlay)}}
          tabindex="-1"
          data-emd-overlay
        >
          {{#ember-modal-dialog-positioned-container
            class=this.containerClassNamesString
            targetAttachment=this.targetAttachment
            target=this.legacyTarget
          }}
            {{yield}}
          {{/ember-modal-dialog-positioned-container}}
        </div>
      {{else}}
        {{#ember-modal-dialog-positioned-container
          class=this.containerClassNamesString
          targetAttachment=this.targetAttachment
          target=this.legacyTarget
        }}
          {{yield}}
        {{/ember-modal-dialog-positioned-container}}
      {{/if}}
    </div>
  {{/if}}
{{/ember-wormhole}}
