{{#ember-wormhole to=destinationElementId}}
  {{#if isOverlaySibling}}
    <div class="{{wrapperClassNamesString}} {{wrapperClass}}">
      {{#if hasOverlay}}
        <div class={{overlayClassNamesString}} onclick={{action onClickOverlay}} tabindex="-1" data-emd-overlay></div>
      {{/if}}
      {{#ember-modal-dialog-positioned-container
          class=containerClassNamesString
          targetAttachment=targetAttachment
          target=legacyTarget
      }}
        {{yield}}
      {{/ember-modal-dialog-positioned-container}}
    </div>
  {{else}}
    <div class="{{wrapperClassNamesString}} {{wrapperClass}}">
      {{#if hasOverlay}}
        <div class={{overlayClassNamesString}} onclick={{action (ignore-children onClickOverlay)}} tabindex="-1" data-emd-overlay>
          {{#ember-modal-dialog-positioned-container
              class=containerClassNamesString
              targetAttachment=targetAttachment
              target=legacyTarget
          }}
            {{yield}}
          {{/ember-modal-dialog-positioned-container}}
        </div>
      {{else}}
        {{#ember-modal-dialog-positioned-container
            class=containerClassNamesString
            targetAttachment=targetAttachment
            target=legacyTarget
        }}
          {{yield}}
        {{/ember-modal-dialog-positioned-container}}
      {{/if}}
    </div>
  {{/if}}
{{/ember-wormhole}}
