<h1 id="title">
  Animatable examples of the
  <code>modal-dialog</code>
  component
</h1>

<p>
  If
  <a href="http://pzuraq.github.io/liquid-wormhole/"><code
    >liquid-wormhole</code></a>
  is installed and `animatable=true` is passed, the component
  will automatically become animatable using
  <code>liquid-fire</code>.
</p>

<div class="example">
  <h3>app/transitions.js for these examples</h3>

  <CodeBlock
    @code={{get this.codeSnippets "animated-transitions-js"}}
    @language="js"
  />
</div>

<DemoModal @id="example-basic" @title="Basic">
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "basic-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @overlayPosition="sibling"
        @clickOutsideToClose={{true}}
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>Basic</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal
  @id="example-translucent"
  @title="With Translucent Overlay"
>
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "translucent-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @translucentOverlay={{true}}
        @overlayPosition="sibling"
        @clickOutsideToClose={{true}}
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>With Translucent Overlay</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal
  @id="example-without-overlay"
  @title="Without Overlay"
>
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "without-overlay-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @hasOverlay={{false}}
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>Without Overlay</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal
  @id="example-without-overlay-click-outside-to-close"
  @title="Without Overlay - Click Outside to Close"
>
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "without-overlay-click-outside-to-close-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @hasOverlay={{false}}
        @clickOutsideToClose={{true}}
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>Without Overlay - Click Outside to Close</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal @id="example-custom-styles" @title="Custom Styles">
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "custom-styles-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />

    <CodeBlock
      @code={{get this.codeSnippets "custom-styles-css"}}
      @language="css"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @containerClass="custom-styles-modal-container"
        @overlayClass="custom-styles-overlay"
        @wrapperClass="custom-styles-wrapper"
        @overlayPosition="sibling"
        @clickOutsideToClose={{true}}
        @targetAttachment="none"
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>Custom Styles</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal @id="example-subclass" @title="Via Subclass">
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get this.codeSnippets "subclass-js"}}
      @language="js"
    />

    <CodeBlock
      @code={{get
        this.codeSnippets
        "subclass-modal-dialog-animatable-hbs"
      }}
      @language="hbs"
    />

    <CodeBlock
      @code={{get this.codeSnippets "subclass-styles-css"}}
      @language="css"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <MyCoolModalDialog
        @onClose={{D.closeModal}}
        @animatable={{true}}
      >
        <h1>Stop! Modal Time!</h1>
        <p>Via Subclass</p>
        <D.CloseButton />
      </MyCoolModalDialog>
    {{/if}}
  </:default>
</DemoModal>