<h1 id="title">Ember Modal Dialog</h1>

{{outlet}}

<div class='example' id='example-basic'>
<h2>Basic</h2>
  <button {{action 'toggleBasic'}}>Do It</button>
  {{code-snippet name='basic.hbs'}}
  {{#if isShowingBasic}}
    {{!-- BEGIN-SNIPPET basic --}}
    {{#modal-dialog close='toggleBasic'}}
      <h1>Stop! Modal Time!</h1>
      <p>Basic</p>
      <button {{action 'toggleBasic'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-translucent'>
  <h2>With Translucent Overlay</h2>
  <button {{action 'toggleTranslucent'}}>Do It</button>
  {{code-snippet name='translucent.hbs'}}
  {{#if isShowingTranslucent}}
    {{!-- BEGIN-SNIPPET translucent --}}
    {{#modal-dialog close='toggleTranslucent'
                    translucentOverlay=true}}
      <h1>Stop! Modal Time!</h1>
      <p>With Translucent Overlay</p>
      <button {{action 'toggleTranslucent'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-without-overlay'>
  <h2>Without Overlay</h2>
  <button {{action 'toggleWithoutOverlay'}}>Do It</button>
  {{code-snippet name='without-overlay.hbs'}}
  {{#if isShowingWithoutOverlay}}
    {{!-- BEGIN-SNIPPET without-overlay --}}
    {{#modal-dialog close='toggleWithoutOverlay'
                    hasOverlay=false}}
      <h1>Stop! Modal Time!</h1>
      <p>Without Overlay</p>
      <button {{action 'toggleWithoutOverlay'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-without-overlay-click-outside-to-close'>
  <h2>Without Overlay - Click Outside to Close</h2>
  <button {{action 'toggleWithoutOverlayClickOutsideToClose'}}>Do It</button>
  {{code-snippet name='without-overlay-click-outside-to-close.hbs'}}
  {{#if isShowingWithoutOverlayClickOutsideToClose}}
    {{!-- BEGIN-SNIPPET without-overlay-click-outside-to-close --}}
    {{#modal-dialog close='toggleWithoutOverlayClickOutsideToClose'
                    hasOverlay=false
                    clickOutsideToClose=true}}
      <h1>Stop! Modal Time!</h1>
      <p>Without Overlay - Click Outside to Close</p>
      <button {{action 'toggleWithoutOverlayClickOutsideToClose'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-custom-styles'>
  <h2>Custom Styles</h2>
  <button {{action 'toggleCustomStyles'}}>Do It</button>
  {{code-snippet name='custom-styles.hbs'}}
  {{code-snippet name='custom-styles.scss'}}
  {{#if isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles --}}
    {{#modal-dialog close='toggleCustomStyles'
                    alignment='none'
                    positioning='simple'
                    container-class=customContainerClassNames
                    overlay-class='custom-styles-modal' }}
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button {{action 'toggleCustomStyles'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-alignment-target-selector'>
  <h2>Alignment Target (Selector)</h2>
  <div class='alignmentTargetContainer'>
    <button id='alignModalToMe' {{action 'toggleAlignmentTargetSelector'}}>Do It</button>
  </div>
  {{code-snippet name='alignment-target-selector.hbs'}}
  {{#if isShowingAlignmentTargetSelector}}
    {{!-- BEGIN-SNIPPET alignment-target-selector --}}
    {{#modal-dialog close='toggleAlignmentTargetSelector'
                    hasOverlay=false
                    alignment=alignmentTargetDirection
                    targetAttachment=exampleTargetAttachment
                    attachment=exampleAttachment
                    alignmentTarget='#alignModalToMe' }}
      <h1>Stop! Modal Time!</h1>
      <p>Alignment Target - Selector: '#alignModalToMe'</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action 'closeAlignmentTargetSelector'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-alignment-target-view'>
  <h2>Alignment Target (View)</h2>
  <div class='alignmentTargetContainer'>
    {{#view viewName="buttonWrapper1" tagName="span"}}
      <button {{action 'toggleAlignmentTargetView'}}>Do It</button>
    {{/view}}
  </div>
  {{code-snippet name='alignment-target-view.hbs'}}
  {{#if isShowingAlignmentTargetView}}
    {{!-- BEGIN-SNIPPET alignment-target-view --}}
    {{#modal-dialog close='toggleAlignmentTargetView'
                    hasOverlay=false
                    alignment=alignmentTargetDirection
                    targetAttachment=exampleTargetAttachment
                    attachment=exampleAttachment
                    alignmentTarget=view.buttonWrapper1 }}
      <h1>Stop! Modal Time!</h1>
      <p>Alignment Target - View: {{view.buttonWrapper1}}</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action 'closeAlignmentTargetView'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-alignment-target-element'>
  <h2>Alignment Target (Element)</h2>
  <div class='alignmentTargetContainer'>
    {{#view viewName="buttonWrapper2" tagName="span"}}
      <button {{action 'toggleAlignmentTargetElement'}}>Do It</button>
    {{/view}}
  </div>
  {{code-snippet name='alignment-target-element.hbs'}}
  {{#if isShowingAlignmentTargetElement}}
    {{!-- BEGIN-SNIPPET alignment-target-element --}}
    {{#modal-dialog close='toggleAlignmentTargetElement'
                    hasOverlay=false
                    alignment=alignmentTargetDirection
                    targetAttachment=exampleTargetAttachment
                    attachment=exampleAttachment
                    alignmentTarget=view.buttonWrapper2.element }}
      <h1>Stop! Modal Time!</h1>
      <p>Alignment Target - Element{{view.buttonWrapper2.elementId}}</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action 'closeAlignmentTargetElement'}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-subclass'>
  <h2>Via Subclass</h2>
  <button {{action 'toggleSubclassed'}}>Do It</button>
  {{code-snippet name='subclass.js'}}
  {{code-snippet name='subclass.hbs'}}
  {{#if isShowingSubclassed}}
    {{!-- BEGIN-SNIPPET subclass --}}
    {{#my-cool-modal-dialog close='toggleSubclassed'
                    translucentOverlay=true}}
      <h1>Stop! Modal Time!</h1>
      <p>Via Subclass</p>
      <button {{action 'toggleSubclassed'}}>Close</button>
    {{/my-cool-modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-in-place'>
<h2>In Place</h2>
  <button {{action 'toggleInPlace'}}>Do It</button>
  {{code-snippet name='in-place.hbs'}}
  <div id='container-in-place'>
    I AM THE CONTAINER
    {{#if isShowingInPlace}}
      {{!-- BEGIN-SNIPPET in-place --}}
      {{#modal-dialog close='toggleInPlace' positioning='in-place'}}
        <h1>Stop! Modal Time!</h1>
        <p>In Place</p>
        <button {{action 'close'}}>Close</button>
      {{/modal-dialog}}
      {{!-- END-SNIPPET --}}
    {{/if}}
  </div>
</div>

<div class='example' id='example-centered-scrolling'>
  <h2>Centered Scrolling</h2>
  <button {{action 'toggleCenteredScrolling'}}>Do It</button>
  {{code-snippet name='centered-scrolling.hbs'}}
  <div id='container-centered-scrolling'>
    {{#if isShowingCenteredScrolling}}
      {{!-- BEGIN-SNIPPET centered-scrolling --}}
      {{#modal-dialog
          close='toggleCenteredScrolling'
          translucentOverlay=true
          positioning='nested'
          alignment='none'
          container-class='centered-scrolling-container'
          overlay-class='centered-scrolling-overlay'
          wrapper-class='centered-scrolling-wrapper'
      }}
        {{partial 'placeholder-content'}}
        <button {{action 'toggleCenteredScrolling'}}>Close</button>
      {{/modal-dialog}}
      {{!-- END-SNIPPET --}}
    {{/if}}
  </div>
</div>

