{{#if (eq activeComponent 'modal-dialog')}}
  <h1 id="title">Modal Dialog</h1>
  <p>
    Ember Modal Dialog provides two different modal components. You are
    currently looking at examples for {{activeComponent}}.

    <button {{action 'toggleActiveComponent'}}>Change to tether-dialog</button>
  </p>

  {{partial 'modal-dialog'}}
{{else}}
  <h1 id="title">Tether Dialog</h1>
  <p>
    Ember Modal Dialog provides two different modal components. You are
    currently looking at examples for {{activeComponent}}.

    <button {{action 'toggleActiveComponent'}}>Change to modal-dialog</button>
  </p>

  {{partial 'tether-dialog'}}
{{/if}}