<h1 id="title">Tethered examples of the <code>modal-dialog</code> component</h1>
<p>
  These examples specify a <code>tetherTarget</code> property, which makes the
  component attempt to use <code>ember-tether</code> to be positioned relative
  to the <code>tetherTarget</code> element and sit in a layer above the rest of the
  document. It requires that you install
  <a href="https://github.com/yapplabs/ember-tether"><code>ember-tether</code></a>
  into your app.
</p>
<p>
  If <a href="http://pzuraq.github.io/liquid-tether/"><code>liquid-tether</code></a>
  is installed and `animated=true` is passed, this component will become
  <LinkTo @route="tethered-animatable">animatable</LinkTo>.
</p>
<p>
  If a <code>tetherTarget</code> is specified and neither <code>ember-tether</code>
  nor <code>liquid-tether</code> is installed, an error will be raised.
</p>

<div class="example" id="example-custom-styles">
  <h2>Custom Styles</h2>
  <button onclick={{action (mut this.isShowingCustomStyles) true}}>Do It</button>
  {{#let (get-code-snippet "custom-styles-modal-dialog-tethered.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
  {{#let (get-code-snippet "custom-styles.css") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
  {{#if this.isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles-modal-dialog-tethered --}}
    <ModalDialog @onClose={{action (mut this.isShowingCustomStyles) false}} @tetherTarget="body" @targetModifier="visible" @targetAttachment="top right" @attachment="top right" @containerClass="custom-styles-modal-container" @overlayClass="custom-styles-overlay">
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button onclick={{action (mut this.isShowingCustomStyles) false}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-selector">
  <h2>Target (Selector)</h2>
  <div class="targetContainer">
    <button id="alignTetherDialogToMe" {{action "toggleTargetSelector"}}>Do It</button>
  </div>
  {{#let (get-code-snippet "target-selector-modal-dialog-tethered.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
  {{#if this.isShowingTargetSelector}}
    {{!-- BEGIN-SNIPPET target-selector-modal-dialog-tethered --}}
    <ModalDialog @onClose={{action "toggleTargetSelector"}} @hasOverlay={{false}} @targetAttachment={{this.exampleTargetAttachment}} @attachment={{this.exampleAttachment}} @tetherTarget="#alignTetherDialogToMe">
      <h1>Stop! Modal Time!</h1>
      <p>Target - Selector: "#alignTetherDialogToMe"</p>
      <p>Target Attachment: {{this.exampleTargetAttachment}}</p>
      <p>Attachment: {{this.exampleAttachment}}</p>
      <button {{action "closeTargetSelector"}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-element">
  <h2>Target (Element)</h2>
  <div class="targetContainer">
    <span id="bwtde">
      <button {{action "toggleTargetElement"}}>Do It</button>
    </span>
  </div>
  {{#let (get-code-snippet "target-element-modal-dialog-tethered.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
  {{#if this.isShowingTargetElement}}
    {{!-- BEGIN-SNIPPET target-element-modal-dialog-tethered --}}
    <ModalDialog @onClose={{action "toggleTargetElement"}} @hasOverlay={{false}} @targetAttachment={{this.exampleTargetAttachment}} @attachment={{this.exampleAttachment}} @tetherTarget="#bwtde">
      <h1>Stop! Modal Time!</h1>
      <p>Target - Element #bwtde</p>
      <p>Target Attachment: {{this.exampleTargetAttachment}}</p>
      <p>Attachment: {{this.exampleAttachment}}</p>
      <button {{action "closeTargetElement"}}>Close</button>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example">
  <h2>Element Center</h2>
  <span id="elementCenter">
    <button onclick={{action (mut this.isShowingElementCenterModal) true}}>Element Center</button>
  </span>
  {{#let (get-code-snippet "element-centered-modal-dialog-tethered.hbs") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
  {{#if this.isShowingElementCenterModal}}
    {{!-- BEGIN-SNIPPET element-centered-modal-dialog-tethered --}}
    <ModalDialog @translucentOverlay={{true}} @tetherTarget="#elementCenter" @onClose={{action (mut this.isShowingElementCenterModal) false}}>
      <p>Centered on element.</p>
    </ModalDialog>
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>
