<h1 id="title">
  Tethered examples of the
  <code>modal-dialog</code>
  component
</h1>

<p>
  These examples specify a
  <code>tetherTarget</code>
  property, which makes the component attempt to use
  <code>ember-tether</code>
  to be positioned relative to the
  <code>tetherTarget</code>
  element and sit in a layer above the rest of the document. It
  requires that you install
  <a href="https://github.com/yapplabs/ember-tether"><code
    >ember-tether</code></a>
  into your app.
</p>
<p>
  If
  <a href="http://pzuraq.github.io/liquid-tether/"><code
    >liquid-tether</code></a>
  is installed and `animated=true` is passed, this component
  will become
  <LinkTo @route="tethered-animatable">animatable</LinkTo>.
</p>
<p>
  If a
  <code>tetherTarget</code>
  is specified and neither
  <code>ember-tether</code>
  nor
  <code>liquid-tether</code>
  is installed, an error will be raised.
</p>

<DemoModal @id="example-custom-styles" @title="Custom Styles">
  <:menu as |M|>
    <M.OpenButton />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "custom-styles-modal-dialog-tethered-hbs"
      }}
      @language="hbs"
    />

    <CodeBlock
      @code={{get this.codeSnippets "custom-styles-css"}}
      @language="css"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @tetherTarget="body"
        @targetModifier="visible"
        @targetAttachment="top right"
        @attachment="top right"
        @containerClass="custom-styles-modal-container"
        @overlayClass="custom-styles-overlay"
      >
        <h1>Stop! Modal Time!</h1>
        <p>Custom Styles</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal
  @id="example-target-selector"
  @onClose={{this.toggleTarget}}
  @title="Target (Selector)"
>
  <:menu as |M|>
    <M.OpenButton id="alignTetherDialogToMe" />
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "target-selector-modal-dialog-tethered-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @hasOverlay={{false}}
        @targetAttachment={{this.exampleTargetAttachment}}
        @attachment={{this.exampleAttachment}}
        @tetherTarget="#alignTetherDialogToMe"
      >
        <h1>Stop! Modal Time!</h1>
        <p>Target - Selector: "#alignTetherDialogToMe"</p>
        <p>Target Attachment:
          {{this.exampleTargetAttachment}}</p>
        <p>Attachment: {{this.exampleAttachment}}</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal
  @id="example-target-element"
  @onClose={{this.toggleTarget}}
  @title="Target (Element)"
>
  <:menu as |M|>
    <span id="bwtde">
      <M.OpenButton />
    </span>
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "target-element-modal-dialog-tethered-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @onClose={{D.closeModal}}
        @hasOverlay={{false}}
        @targetAttachment={{this.exampleTargetAttachment}}
        @attachment={{this.exampleAttachment}}
        @tetherTarget="#bwtde"
      >
        <h1>Stop! Modal Time!</h1>
        <p>Target - Element #bwtde</p>
        <p>Target Attachment:
          {{this.exampleTargetAttachment}}</p>
        <p>Attachment: {{this.exampleAttachment}}</p>
        <D.CloseButton />
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>

<DemoModal @id="example-element-center" @title="Element Center">
  <:menu as |M|>
    <span id="elementCenter">
      <M.OpenButton />
    </span>
  </:menu>

  <:code>
    <CodeBlock
      @code={{get
        this.codeSnippets
        "element-centered-modal-dialog-tethered-hbs"
      }}
      @language="hbs"
    />
  </:code>

  <:default as |D|>
    {{#if D.isModalOpen}}
      <ModalDialog
        @translucentOverlay={{true}}
        @tetherTarget="#elementCenter"
        @onClose={{D.closeModal}}
      >
        <p>Centered on element.</p>
      </ModalDialog>
    {{/if}}
  </:default>
</DemoModal>