<h1 id="title">Tethered examples of the <code>modal-dialog</code> component</h1>
<p>
  These examples specify a <code>tetherTarget</code> property, which makes the
  component attempt to use <code>ember-tether</code> to be positioned relative
  to the <code>tetherTarget</code> element and sit in a layer above the rest of the
  document. It requires that you install
  <a href="https://github.com/yapplabs/ember-tether"><code>ember-tether</code></a>
  into your app.
</p>
<p>
  If <a href="http://pzuraq.github.io/liquid-tether/"><code>liquid-tether</code></a>
  is installed and `animated=true` is passed, this component will become
  {{#link-to "tethered-animatable"}}animatable{{/link-to}}.
</p>
<p>
  If a <code>tetherTarget</code> is specified and neither <code>ember-tether</code>
  nor <code>liquid-tether</code> is installed, an error will be raised.
</p>

<div class="example" id="example-custom-styles">
  <h2>Custom Styles</h2>
  <button onclick={{action (mut isShowingCustomStyles) true}}>Do It</button>
  {{code-snippet name="custom-styles-modal-dialog-tethered.hbs"}}
  {{code-snippet name="custom-styles.scss"}}
  {{#if isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles-modal-dialog-tethered --}}
    {{#modal-dialog
      onClose=(action (mut isShowingCustomStyles) false)
      tetherTarget="body"
      targetModifier="visible"
      targetAttachment="top right"
      attachment="top right"
      containerClass="custom-styles-modal-container"
      overlayClass="custom-styles-overlay"
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button onclick={{action (mut isShowingCustomStyles) false}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-selector">
  <h2>Target (Selector)</h2>
  <div class="targetContainer">
    <button id="alignTetherDialogToMe" {{action "toggleTargetSelector"}}>Do It</button>
  </div>
  {{code-snippet name="target-selector-modal-dialog-tethered.hbs"}}
  {{#if isShowingTargetSelector}}
    {{!-- BEGIN-SNIPPET target-selector-modal-dialog-tethered --}}
    {{#modal-dialog
      onClose=(action "toggleTargetSelector")
      hasOverlay=false
      targetAttachment=exampleTargetAttachment
      attachment=exampleAttachment
      tetherTarget="#alignTetherDialogToMe"
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Selector: "#alignTetherDialogToMe"</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action "closeTargetSelector"}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-element">
  <h2>Target (Element)</h2>
  <div class="targetContainer">
    <span id="bwtde">
      <button {{action "toggleTargetElement"}}>Do It</button>
    </span>
  </div>
  {{code-snippet name="target-element-modal-dialog-tethered.hbs"}}
  {{#if isShowingTargetElement}}
    {{!-- BEGIN-SNIPPET target-element-modal-dialog-tethered --}}
    {{#modal-dialog
      onClose=(action "toggleTargetElement")
      hasOverlay=false
      targetAttachment=exampleTargetAttachment
      attachment=exampleAttachment
      tetherTarget="#bwtde"
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Element #bwtde</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action "closeTargetElement"}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example">
  <h2>Element Center</h2>
  <span id="elementCenter">
    <button onclick={{action (mut isShowingElementCenterModal) true}}>Element Center</button>
  </span>
  {{code-snippet name="element-centered-modal-dialog-tethered.hbs"}}
  {{#if isShowingElementCenterModal}}
    {{!-- BEGIN-SNIPPET element-centered-modal-dialog-tethered --}}
    {{#modal-dialog
      translucentOverlay=true
      tetherTarget="#elementCenter"
      onClose=(action (mut isShowingElementCenterModal) false)
    }}
      <p>Centered on element.</p>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>
