<h1 id="title">Examples of the <code>tether-dialog</code> component</h1>
<p>
  This component uses <code>ember-tether</code> to be positioned relative
  to the <code>target</code> element and sit in a layer above the rest of the
  document. It requires that you install
  <a href="https://github.com/yapplabs/ember-tether"><code>ember-tether</code></a>
  into your app.
</p>

<div class='example' id='example-basic'>
<h2>Basic</h2>
  <button {{action 'toggleBasic'}}>Do It</button>
  {{code-snippet name='basic-tether-dialog.hbs'}}
  {{#if isShowingBasic}}
    {{!-- BEGIN-SNIPPET basic-tether-dialog --}}
    {{#tether-dialog onClose='toggleBasic'}}
      <h1>Stop! Modal Time!</h1>
      <p>Basic</p>
      <button {{action 'toggleBasic'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-translucent'>
  <h2>With Translucent Overlay</h2>
  <button {{action 'toggleTranslucent'}}>Do It</button>
  {{code-snippet name='translucent-tether-dialog.hbs'}}
  {{#if isShowingTranslucent}}
    {{!-- BEGIN-SNIPPET translucent-tether-dialog --}}
    {{#tether-dialog onClose='toggleTranslucent'
                    translucentOverlay=true}}
      <h1>Stop! Modal Time!</h1>
      <p>With Translucent Overlay</p>
      <button {{action 'toggleTranslucent'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-translucent-with-callback'>
  <h2>Translucent Overlay with Callback</h2>
  <button {{action 'toggleTranslucentWithCallback'}}>Do It</button>
  {{code-snippet name='translucent-tether-dialog-with-callback.hbs'}}
  {{#if isShowingTranslucentWithCallback}}
    {{!-- BEGIN-SNIPPET translucent-tether-dialog-with-callback --}}
    {{#tether-dialog onClose='toggleTranslucentWithCallback'
                    translucentOverlay=true
                    onClickOverlay='clickedTranslucentOverlay'}}
      <h1>Stop! Modal Time!</h1>
      <p>Translucent Overlay with Callback</p>
      <button {{action 'toggleTranslucentWithCallback'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-without-overlay'>
  <h2>Without Overlay</h2>
  <button {{action 'toggleWithoutOverlay'}}>Do It</button>
  {{code-snippet name='without-overlay-tether-dialog.hbs'}}
  {{#if isShowingWithoutOverlay}}
    {{!-- BEGIN-SNIPPET without-overlay-tether-dialog --}}
    {{#tether-dialog onClose='toggleWithoutOverlay'
                    hasOverlay=false}}
      <h1>Stop! Modal Time!</h1>
      <p>Without Overlay</p>
      <button {{action 'toggleWithoutOverlay'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-without-overlay-click-outside-to-close'>
  <h2>Without Overlay - Click Outside to Close</h2>
  <button {{action 'toggleWithoutOverlayClickOutsideToClose'}}>Do It</button>
  <button id="without-overlay-another-one-button"
    {{action 'toggleWithoutOverlayClickOutsideToCloseAnotherOne'}}>Another one</button>
  {{code-snippet name='without-overlay-click-outside-to-close-tether-dialog.hbs'}}
  {{#if isShowingWithoutOverlayClickOutsideToClose}}
    {{!-- BEGIN-SNIPPET without-overlay-click-outside-to-close-tether-dialog --}}
    {{#tether-dialog onClose='toggleWithoutOverlayClickOutsideToClose'
                    hasOverlay=false
                    clickOutsideToClose=true}}
      <h1>Stop! Modal Time!</h1>
      <p>Without Overlay - Click Outside to Close</p>
      <button {{action 'toggleWithoutOverlayClickOutsideToClose'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
  {{#if isShowingWithoutOverlayClickOutsideToCloseAnotherOne}}
    {{#tether-dialog onClose='toggleWithoutOverlayClickOutsideToCloseAnotherOne'
                    hasOverlay=false
                    clickOutsideToClose=true
                    offset='100px 0'}}
      <h1>Stop! Another modal!</h1>
      <p>Without Overlay Another One - Click Outside to Close</p>
      <button {{action 'toggleWithoutOverlayClickOutsideToCloseAnotherOne'}}>Close</button>
    {{/tether-dialog}}
  {{/if}}

</div>

<div class='example' id='example-custom-styles'>
  <h2>Custom Styles</h2>
  <button {{action 'toggleCustomStyles'}}>Do It</button>
  {{code-snippet name='custom-styles-tether-dialog.hbs'}}
  {{code-snippet name='custom-styles.scss'}}
  {{#if isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles-tether-dialog --}}
    {{#tether-dialog onClose='toggleCustomStyles'
                    targetAttachment='top right'
                    attachment='top right'
                    container-class=customContainerClassNames
                    overlay-class='custom-styles-modal' }}
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button {{action 'toggleCustomStyles'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-target-selector'>
  <h2>Target (Selector)</h2>
  <div class='targetContainer'>
    <button id='alignTetherDialogToMe' {{action 'toggleTargetSelector'}}>Do It</button>
  </div>
  {{code-snippet name='target-selector-tether-dialog.hbs'}}
  {{#if isShowingTargetSelector}}
    {{!-- BEGIN-SNIPPET target-selector-tether-dialog --}}
    {{#tether-dialog onClose='toggleTargetSelector'
                    hasOverlay=false
                    targetAttachment=exampleTargetAttachment
                    attachment=exampleAttachment
                    target='#alignTetherDialogToMe' }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Selector: '#alignTetherDialogToMe'</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action 'closeTargetSelector'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-target-element'>
  <h2>Target (Element)</h2>
  <div class='targetContainer'>
    <span id="bwtde">
      <button {{action 'toggleTargetElement'}}>Do It</button>
    </span>
  </div>
  {{code-snippet name='target-element-tether-dialog.hbs'}}
  {{#if isShowingTargetElement}}
    {{!-- BEGIN-SNIPPET target-element-tether-dialog --}}
    {{#tether-dialog close='toggleTargetElement'
                    hasOverlay=false
                    targetAttachment=exampleTargetAttachment
                    attachment=exampleAttachment
                    target="#bwtde" }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Element #bwtde</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action 'closeTargetElement'}}>Close</button>
    {{/tether-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class='example' id='example-in-place'>
<h2>In Place</h2>
  <button {{action 'toggleInPlace'}}>Do It</button>
  {{code-snippet name='in-place-tether-dialog.hbs'}}
  {{code-snippet name='in-place.scss'}}
  <div id='container-in-place'>
    I AM THE CONTAINER
    {{#if isShowingInPlace}}
      {{!-- BEGIN-SNIPPET in-place-tether-dialog --}}
      {{#tether-dialog
          onClose='toggleInPlace'
          renderInPlace=true
          targetAttachment='none'
          container-class='ember-modal-dialog-in-place'
          overlay-class='ember-modal-overlay-in-place'
      }}
        <h1>Stop! Modal Time!</h1>
        <p>In Place</p>
        <button {{action 'toggleInPlace'}}>Close</button>
      {{/tether-dialog}}
      {{!-- END-SNIPPET --}}
    {{/if}}
  </div>
</div>
