<h1 id="title">Tethered &amp; animated examples of the <code>modal-dialog</code> component</h1>
<p>
  These examples specify a <code>tetherTarget</code> property, as well as demonstrate
  animation via <code>liquid-fire</code>. If requires that you install
  <a href="http://pzuraq.github.io/liquid-tether/"><code>liquid-tether</code></a>
  into your app. Once installed and `animatable=true` is passed, the component will
  automatically become animatable using <code>liquid-fire</code>.
</p>
<p>
  If a <code>tetherTarget</code> is specified and neither <code>ember-tether</code>
  nor <code>liquid-tether</code> is installed, an error will be raised.
</p>

<div class="example">
  <h3>app/transitions.js for these examples</h3>
  {{code-snippet name="animated-with-tether-transitions.js"}}
</div>

<div class="example" id="example-custom-styles">
  <h2>Custom Styles</h2>
  <button onclick={{action (mut isShowingCustomStyles) true}}>Do It</button>
  {{code-snippet name="custom-styles-modal-dialog-liquid-tether.hbs"}}
  {{code-snippet name="custom-styles.scss"}}
  {{#if isShowingCustomStyles}}
    {{!-- BEGIN-SNIPPET custom-styles-modal-dialog-liquid-tether --}}
    {{#modal-dialog
      onClose=(action (mut isShowingCustomStyles) false)
      tetherTarget="body"
      targetAttachment="top right"
      targetModifier="visible"
      attachment="top right"
      containerClass="custom-styles-modal-container"
      overlayClass="custom-styles-overlay"
      animatable=true
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Custom Styles</p>
      <button onclick={{action (mut isShowingCustomStyles) false}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-selector">
  <h2>Target (Selector)</h2>
  <div class="targetContainer">
    <button id="alignTetherDialogToMe" {{action "toggleTargetSelector"}}>Do It</button>
  </div>
  {{code-snippet name="target-selector-modal-dialog-liquid-tether.hbs"}}
  {{#if isShowingTargetSelector}}
    {{!-- BEGIN-SNIPPET target-selector-modal-dialog-liquid-tether --}}
    {{#modal-dialog
      onClose=(action "toggleTargetSelector")
      hasOverlay=false
      targetAttachment=exampleTargetAttachment
      attachment=exampleAttachment
      tetherTarget="#alignTetherDialogToMe"
      animatable=true
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Selector: "#alignTetherDialogToMe"</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action "closeTargetSelector"}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example" id="example-target-element">
  <h2>Target (Element)</h2>
  <div class="targetContainer">
    <span id="bwtde">
      <button {{action "toggleTargetElement"}}>Do It</button>
    </span>
  </div>
  {{code-snippet name="target-element-modal-dialog-liquid-tether.hbs"}}
  {{#if isShowingTargetElement}}
    {{!-- BEGIN-SNIPPET target-element-modal-dialog-liquid-tether --}}
    {{#modal-dialog
      onClose=(action "toggleTargetElement")
      hasOverlay=false
      targetAttachment=exampleTargetAttachment
      attachment=exampleAttachment
      tetherTarget="#bwtde"
      animatable=true
    }}
      <h1>Stop! Modal Time!</h1>
      <p>Target - Element #bwtde</p>
      <p>Target Attachment: {{exampleTargetAttachment}}</p>
      <p>Attachment: {{exampleAttachment}}</p>
      <button {{action "closeTargetElement"}}>Close</button>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example">
  <h2>Element Center</h2>
  <span id="elementCenter">
    <button {{action "toggleElementCenterModal"}}>Element Center</button>
  </span>
  {{code-snippet name="element-centered-modal-dialog-liquid-tether.hbs"}}
  {{#if isShowingElementCenterModal}}
    {{!-- BEGIN-SNIPPET element-centered-modal-dialog-liquid-tether --}}
    {{#modal-dialog
      onClose=(action "toggleElementCenterModal")
      translucentOverlay=true
      tetherTarget="#elementCenter"
      animatable=true
    }}
      <p>Centered on element.</p>
    {{/modal-dialog}}
    {{!-- END-SNIPPET --}}
  {{/if}}
</div>

<div class="example">
  <h2>Separate Stacks</h2>
  <button
    id="separateStacksButton1"
    onclick={{action (mut isShowingSeparateStacksModal1) true}}
  >
    Show Modal 1 (modal-stack-a)
  </button>
  <button
    id="separateStacksButton2"
    onclick={{action (mut isShowingSeparateStacksModal2) true}}
  >
    Show Modal 2 (modal-stack-b)
  </button>
  <button
    id="separateStacksButton3"
    onclick={{action (mut isShowingSeparateStacksModal3) true}}
  >
    Show Modal 3 (modal-stack-b)
  </button>
  <p>If you open 1, then 2 (different stacks), #1 should animate closed, and #2 should animate open.</p>
  <p>If you open 2, then 3, the #2 should animate to #3"s spot.</p>
  {{code-snippet name="separate-stacks-modal-dialog-liquid-tether.hbs"}}
  {{!-- BEGIN-SNIPPET separate-stacks-modal-dialog-liquid-tether --}}
  {{#if isShowingSeparateStacksModal1}}
    {{#modal-dialog
      stack="modal-stack-a"
      containerClass="modal-stack"
      onClose=(action (mut isShowingSeparateStacksModal1 false))
      hasOverlay=false
      clickOutsideToClose=true
      tetherTarget="#separateStacksButton1"
      targetAttachment="bottom center"
      attachment="top center"
      animatable=true
    }}
      <p>I am modal 1.</p>
    {{/modal-dialog}}
  {{/if}}
  {{#if isShowingSeparateStacksModal2}}
    {{#modal-dialog
      stack="modal-stack-b"
      value=2
      containerClass="modal-stack"
      onClose=(action (mut isShowingSeparateStacksModal2) false)
      hasOverlay=false
      clickOutsideToClose=true
      tetherTarget="#separateStacksButton2"
      targetAttachment="top center"
      attachment="bottom center"
      animatable=true
    }}
      <p>I am modal 2.</p>
    {{/modal-dialog}}
  {{/if}}
  {{#if isShowingSeparateStacksModal3}}
    {{#modal-dialog
      stack="modal-stack-b"
      value=2
      containerClass="modal-stack"
      onClose=(action (mut isShowingSeparateStacksModal3) false)
      hasOverlay=false
      clickOutsideToClose=true
      tetherTarget="#separateStacksButton3"
      targetAttachment="middle right"
      attachment="middle left"
      animatable=true
    }}
      <p>I am modal 3.</p>
    {{/modal-dialog}}
  {{/if}}
  {{!-- END-SNIPPET --}}
</div>
